.body{
    padding: 0%;
    margin: 0%;
    
}
.diva{
    background-color: rgb(19, 19, 58);
}
.head1{
    color: white;
    padding: 30px;
    padding-left: 80px;
    
}
.crop{
    color: orangered;
}
.list{
    list-style: none;
    float: right;
    margin-top: 25px;
}
.list a {
 font-weight: 100;
 color: rgb(228, 234, 240);
 font-size: 20px;
 text-decoration: none; 
}
.list li {
    float: left;
    padding: 10px 20px;
}
.hr {
    background-color: red;
    width: 100%;
    height: 5px;
    border-top: 5px;
    line-height: 80%;
}
.text{
    color: rgb(250, 250, 252);
    padding: 30px;
    padding-left: 50px;
    padding-top: 80px;
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fr{
    color: rgb(253, 251, 251);
    font-size: 23px;
}
.parag{
    font-size: 23px;
    color: white;
}
.divb {
    margin-top: -10px;
    min-height: 400px;
    padding-top: 2px;
    padding-bottom: 100px;
    text-align: center;
    background-image: url("hand.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.text2{
    padding-left: 100px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.divc form{
    float: right;
    margin-top: -117px;
    padding-top: 37px;
    padding-right: 100px;
    padding-bottom: 30px;


}
.inp{
    height: 35px;
    padding-left: -15px;
    padding-right: -15px;

}
.btn1{
    height: 35px;
    background: red;
    padding-left: -15px;
    padding-right: -15px;
    color: white;
}
.divc{
    padding-top: 2px;
    padding-bottom: 5px;
    background-color: rgb(19, 19, 58);
}
.divd {
    padding-top: -10px;
    padding-right: 250px;
    text-align: center;
}
.img1{
    padding-top: 5px;
    width: 120px;
}
.img2{
    padding-top: 12px;
    width: 105px;
}
.img3{
    padding-top: 12px;
    width: 120px;
}
.aa{
     width: 150%;
     padding: 10px;
}
.bb{
    width: 150%;
    padding: 10px;
}
.cc{
    width: 150%; 
}
.logos{
    list-style: none;
    float: right;
    margin-top: 25px;
}
.logos a {
 font-weight: 100;
 text-decoration: none; 
}
.logos li {
    float: left;
    padding: 10px 20px;
}
.dive{
    background-color: rgb(252, 247, 247);
    text-align: center;
    color: rgb(21, 108, 184);
    
}

